.card
{
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;

}
.card-body
{
  padding: 20px;

}
.card-img{
  width: 100%;
  height: auto;

}

.title {
  font-size: 1.5em;
  margin: 0 0 10px;
}

.description {
  font-size: 1em;
  color: black;
  margin: 0 0 50px;

}


.button{
  background-color: rgb(71, 71, 97);
  height: 40px;
  width: 80px;
  border-radius: 8px;
  margin: 10px;
  font-size: 18px;
  color:white;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
}
.button:hover {
  background-color: #0056b3;
}
