.container-details{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}


.img-details
{
display: flex;
justify-content: center;
width: auto;
padding: 10px;

}

.image
{
max-width: 300px;
max-height: 400px;

}

.card-body{
display: flex;
flex-wrap: wrap;
flex-direction: column;
max-width: 350px;
padding-left: 10px;
}


.category{
  margin-top: 20px;
  font-size: 16px;
  color: gray;
  margin-bottom: 0;
}

.title{
  display: flex;
  font-size: 20px;
  color: black;
}


.rating-dis{
  display: flex;
  justify-content: flex-start;
}
.rating{
  color: gray;
  font-size: 16px;
  margin-left: 10px;
}

.descriptions-card{
margin-top: 50px;
max-height: 300px;
overflow: hidden;
margin-left: 15px;

}

.descriptions{
  font-size: 14px;
  padding: 5px;
  overflow: hidden;
  color: gray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.price-card{
  margin-top: 15px;
  display: flex;
}

.price
{
  color: rgb(35, 100, 185);
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button{
  background-color: rgb(71, 71, 97);
  max-height: 40px;
  width: 80px;
  border-radius: 8px;
  margin-left: auto;
  font-size: 14px;
  color:white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;

}
.button:hover {
  background-color: #0056b3;
}

