.container
{
padding-right: 1.25rem;
padding-top: 6rem;
padding-bottom: 6rem;
margin: -16px;
margin-left: auto;
margin-right: auto;
height: 100%;
width: 100%;

}


.content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -16px;

}
.image{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -200;
  }

.bus{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 20px;
  max-width: 100%;
}
.buscador{
  width:500px;
  height: 30px;
  border-radius: 5px;
  font-size: 15px;


}


.title{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 35px;
  color: white;
}


