.container
{

padding-left: 1.25rem;
padding-right: 1.25rem;
padding-top: 6rem;
padding-bottom: 6rem;
margin: -16px;
margin-left: auto;
margin-right: auto;

}

.content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -16px;

}

.bus{
  margin-bottom: 50px;
}
.buscador{

  position: relative;

}

