<div class="container">
    <div class="image">
      <img class="image" src="../../assets/photo24.jpg" alt="" >
    </div>
    <div class="title">
      <h1>PRODUCTOS</h1>
    </div>
    <div class="bus">
      <input class="buscador" type="text" placeholder="Buscar Product" [(ngModel)]="searchData" (keyup)="getFileteredPruducts()" >
    </div>
    <div class="content">
      @if(searchData !=''){
        @for ( product of filterData; track $index) {
           <app-cards [productosInfo]="product" />
          }
      }
      @if(searchData == ''){
        @for ( product of productos; track $index) {
          <app-cards [productosInfo]="product" />
         }
      }
    </div>
</div>





