.home
{
height: 100%;
width: 100%;

}

.image{
height: 100%;
width: 100%;
position: fixed;
z-index: -200;
}

.transparents{
  width: 100%;
  height: 1000px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
